.add-employee{
    width: 80%;
    display:grid;
    border-radius: 5px;
    background-color: rgba(198,198,198,0.1);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
    margin: auto auto 20px;
    padding: 30px;
}
.add-employee :focus-visible {
    outline: 1px solid lightgrey;
}
.add-employee input{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-employee button {
    background-color: #4F58AD;
    color: white;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

.add-employee button:hover {
    background-color: blueviolet;
}

.add-employee label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.add-employee-h2 {
    display:flex;
    justify-content: center;
}
.add-employee menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
    gap: 1em;
}
.add-employee menu button.cancel {
    background-color: brown;
}
.add-employee menu button.cancel:hover {
    background-color: #ba052b;
}