.employee-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 5px 5px 15px;
    gap: 5px;
    width: 90%;
    margin: auto;
}
.employee-gallery button {
    background-color: rgba(44,92,175,0.91);
    color: white;
    padding: 7px 10px;
    margin:  0.3rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
    float:right;
}
.employee-gallery button:hover {
    background-color: rgba(44,92,188,0.88);
}
.employee-gallery input[type=text] {
    width: 150px;
    padding: 7px 10px;
    margin: 8px 0;
    border: 2px solid rgba(198, 198, 198);
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

@media screen and (max-width: 430px) {
    .chart {
        padding-top: 15px;
    }
}
@media screen and (max-width: 1680px) {
    .chart {
        padding-top: 15px;
    }
}