.employee-details {
    margin: auto;
    width: 50%;
    display:grid;
    border-radius: 5px;
    background-color: rgba(198,198,198,0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.employee-details h2 {
    justify-content: center;
    display: flex;
}
.employee-details a {
    text-decoration: none;
    font-weight: bold;
}
.back {
    background-color: #4F58AD;
    color: white;
    padding: 8px 12px;
    margin:  0.3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    float:left;
}
.back:hover {
    background-color: blueviolet;
}

.employee-details button {
    background-color: #4F58AD;
    color: white;
    padding:8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

.employee-details button.delete {
    background-color: brown;
}

.employee-details button.delete:hover {
    background-color: #ba052b;
}