.nav {
    top: 0;
    left: 0;
    right: 0;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(198,198,198,0.2);
    overflow-x: auto;
}

.navigation-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.navigation-block h2{
    padding-left: 7px;
}

.navigation-block span {
    color: rgba(79,88,173,0.95);
}

.navigation-block:first-of-type {
    white-space: initial;
}

.nav a {
    text-decoration: none;
    float: left;
    font-size: 15px;
    padding: 0 10px;
    color: #666;
    cursor: pointer;
}

.nav a:hover {
    color: darkgoldenrod;
}

.nav a.active {
    color: darkgoldenrod;
}

.nav a.active:hover {
    color: chocolate;
}