.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    text-decoration: none;
    border: 1px solid rgba(198,198,198,0.7);
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: 5px;
}

.pagination a:hover {
    background-color: rgba(198,198,198,0.3);
}

.pagination a.active {
    background-color: rgba(198, 198, 198, 0.3);
}